 /* 导航 */
 body{
  margin: 0;
  border: 0;
} 
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-custom{
    background-color: rgb(78, 57, 37);
    text-decoration: none;
}
.navbar-toggler-icon{
      color: rgba(255,255,255,.8);
    border-color: rgba(255,255,255,.1);
}  
.navbar-toggler:focus {
  text-decoration: none;
  box-shadow: none;
}
/* 自定义brand和文字颜色 */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* 自定义链接颜色 */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* 自定义激活或者悬停的链接颜色 */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
/* 轮播图 */
.carousel-item img{
  max-width: 100%;
  max-height: 80%;
  min-width: 520px;
}
/* 团队介绍 */
.cardgroup{
  margin: 20px;
}
ul, li{
  text-align: center;
  list-style: none;
  padding: 0px;

}
.cardgroup h2{
  margin: 20px;
    text-align: center;
}
.cardgroup .a{
    height: 4px;
    background-color: #c8484e;
    width: 100px;
    margin: 0 auto;
}
   .card{
     display: flex;
     align-items: center;
     text-align: center;
     
   }
    .card img{
      max-width:80%;
      max-height: 80%;
    }

/* 页脚 */
footer{
    background-color: rgb(221, 220, 220);
    text-align: center;
    
  }
  footer p{
     font-size: 20px;
  }
  
  footer i{
     font-size: 100px;
     color: rgb(90, 89, 89);
  }  
  #row{
    text-align: center;
    justify-content: center;
  }
 
  #footerImg{
    padding: 20px;
         height: 160px;
         width: 160px;
     }

  #bottom{
        background-color: rgb(209, 209, 209);
  }  

  #bottom p{
    margin: 0;
    font-size: 20px;
    
  }